<div class="container py-8 px-3 md:px-8 mx-auto">
  <div
    class="w-full max-w-xl mx-auto p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 md:p-8"
  >
    <h1 class="mb-5 font-bold text-2xl text-gray-800">Forget Password</h1>
    @if (errorMsg) {
    <div
      class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-100"
      role="alert"
    >
      {{ errorMsg }}
    </div>
    } @if (steps === 1) {
    <form [formGroup]="emailForm" (ngSubmit)="submitEmail()" class="capitalize">
      <div class="relative mb-4">
        <input
          formControlName="email"
          autocomplete="on"
          type="email"
          id="userEmail"
          class="block px-2.5 pb-1.5 pt-3 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-green-600 peer"
          placeholder=" "
        />
        <label
          for="userEmail"
          class="absolute text-sm text-gray-500 duration-300 transform -translate-y-3 scale-75 top-1 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-green-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-1 peer-focus:scale-75 peer-focus:-translate-y-3 start-1 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
          >email</label
        >
      </div>
      @if (emailForm.get('email')?.touched && emailForm.get('email')?.errors) {
      @if (emailForm.get('email')?.getError('required')) {
      <div
        class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Info</span>
        <div>
          <p>email is required</p>
        </div>
      </div>
      } }
      <button
        type="submit"
        class="focus:outline-none capitalize text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 duration-300 rounded-lg text-sm px-5 py-2.5"
      >
        @if (isLoading) {
        <i class="fa-solid fa-spinner fa-spin"></i>
        } submit
      </button>
    </form>
    } @if (steps === 2) {
    <form [formGroup]="codeForm" (ngSubmit)="submitCode()" class="capitalize">
      <div class="relative mb-4">
        <input
          formControlName="resetCode"
          autocomplete="on"
          type="email"
          id="resetCode"
          class="block px-2.5 pb-1.5 pt-3 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-green-600 peer"
          placeholder=" "
        />
        <label
          for="resetCode"
          class="absolute text-sm text-gray-500 duration-300 transform -translate-y-3 scale-75 top-1 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-green-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-1 peer-focus:scale-75 peer-focus:-translate-y-3 start-1 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
          >resetCode</label
        >
      </div>
      @if (codeForm.get('resetCode')?.touched &&
      codeForm.get('resetCode')?.errors) { @if
      (codeForm.get('resetCode')?.getError('required')) {
      <div
        class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Info</span>
        <div>
          <p>reset code is required</p>
        </div>
      </div>
      } @else if (codeForm.get('resetCode')?.getError('pattern')) {
      <div
        class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Info</span>
        <div>
          <p>password is not valid</p>
        </div>
      </div>
      }}
      <button
        type="submit"
        class="focus:outline-none capitalize text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 duration-300 rounded-lg text-sm px-5 py-2.5"
      >
        @if (isLoading) {
        <i class="fa-solid fa-spinner fa-spin"></i>
        } submit
      </button>
    </form>
    } @if (steps === 3) {
    <form [formGroup]="resetForm" (ngSubmit)="submitReset()" class="capitalize">
      <!-- email -->
      <div class="relative mb-4">
        <input
          formControlName="email"
          autocomplete="on"
          type="email"
          id="Email"
          class="block px-2.5 pb-1.5 pt-3 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-green-600 peer"
          placeholder=" "
        />
        <label
          for="Email"
          class="absolute text-sm text-gray-500 duration-300 transform -translate-y-3 scale-75 top-1 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-green-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-1 peer-focus:scale-75 peer-focus:-translate-y-3 start-1 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
          >email</label
        >
      </div>
      @if (resetForm.get('email')?.touched && resetForm.get('email')?.errors) {
      @if (resetForm.get('email')?.getError('required')) {
      <div
        class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Info</span>
        <div>
          <p>email is required</p>
        </div>
      </div>
      } }

      <!-- password -->
      <div class="relative mb-4">
        <input
          formControlName="newPassword"
          autocomplete="off"
          type="password"
          id="newPassword"
          class="block px-2.5 pb-1.5 pt-3 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-green-600 peer"
          placeholder=" "
        />
        <label
          for="newPassword"
          class="absolute text-sm text-gray-500 duration-300 transform -translate-y-3 scale-75 top-1 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-green-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-1 peer-focus:scale-75 peer-focus:-translate-y-3 start-1 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
          >password</label
        >
      </div>
      @if (resetForm.get('newPassword')?.touched &&
      resetForm.get('newPassword')?.errors) { @if
      (resetForm.get('newPassword')?.getError('required')) {
      <div
        class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Info</span>
        <div>
          <p>password is required</p>
        </div>
      </div>
      } @else if (resetForm.get('newPassword')?.getError('pattern')) {
      <div
        class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Info</span>
        <div>
          <p>password is not valid</p>
        </div>
      </div>
      } }
      <button
        type="submit"
        class="focus:outline-none capitalize text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 duration-300 rounded-lg text-sm px-5 py-2.5"
      >
        @if (isLoading) {
        <i class="fa-solid fa-spinner fa-spin"></i>
        } submit
      </button>
    </form>
    }
  </div>
</div>
